<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
	<header th:replace="layout/layout :: header"></header>


	<div class="container py-4">

		<div class="card bg-ligth text-black">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div class="col-sm-10 float-left">
					<h4 th:text="'Producto: ' + ${producto.nombreProducto}"></h4>
					<h4 th:text="'Valor:    ' + ${producto.neto}"></h4>
					<img class="img-thumbnail rounded float-left"
						style="max-width: 50%;"
						th:src="@{'/productos/uploads/' + ${producto.foto}}" />
					<label th:text="${producto.descripcion}"></label>	
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>