<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />

</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/inicio">Monono Pets</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						href="/inicio/inicio">Inicio <span class="sr-only">(current)</span></a>
					</li>
					<!--  sec:authorize="hasRole('ROLE_ADMIN')" sirve para implementar seguridad en cuanto a los botones por roles -->
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link"
						th:href="@{/productos}">Productos</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/inicio/contacto}">Contacto</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/inicio/nosotros}">Nosotros</a></li>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li><a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary" th:href="@{/login}">
							Sign In</a></li>
					<li sec:authorize="isAuthenticated()" class="dropdown show"><a
						class="btn btn-outline btn-primary dropdown-toggle" href="#"
						role="button" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <span
							sec:authentication="name"></span>
					</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<!-- enviar el formulario hacia la ruta logout con el metodo post y el token para cerrar sesion -->
								<button class="dropdown-item"
									onclick="document.getElementById('logoutForm').submit();"
									type="submit">Sign out</button>
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}">
							</form>
						</div></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>

	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<img th:src="@{/images/LogoMononoPets.png}" width="50px" height="50px" />

		<p>Monono Pets una empresa Familiar</p>

		<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/js/popper-3.5.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>



</body>
</html>