<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<header th:replace="layout/layout :: header"></header>


	<div class="py-4 px-3 card bg-ligth text-black">
		<div class="card bg-white">
			<div class="card-header h4" th:text="${titulo}"></div>
			<div class="card-body">

			<label for="tipo">Boleta</label><input type="radio" name="tipo" value="Boleta" checked="checked" />
			<label for="tipo">Factura</label><input type="radio" name="tipo" value="Factura"/>
			
				<form th:action="@{/productoproveedor/agregarproducto}"
					th:object="${productoProveedor}" method="post" class="col-sm-6 float-left">
					
						
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" th:text="Buscar-Producto"
							for="buscar_producto"></label>
						<div class="col-sm-10">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" autofocus="autofocus" >
							<input type="hidden" id="ProductoID" th:field="*{producto_id}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Neto</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{Neto}" class="form-control" 
								th:errorclass="'form-control alert-danger'" id="ValorNeto"/> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('Neto')}" th:errors="*{Neto}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">IVA</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{IVA}" class="form-control"
								th:errorclass="'form-control alert-danger'" id="ValorIVA" readonly="readonly" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('IVA')}" th:errors="*{IVA}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Total</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{Total}" class="form-control"
								th:errorclass="'form-control alert-danger'" id="ValorCompra" readonly="readonly" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('Total')}"
								th:errors="*{NombreProducto}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Valor Agregado</label>
						<div class="col-sm-10">
							<input type="text" th:field="*{ValorAgregado}"
								class="form-control" th:errorclass="'form-control alert-danger'" id="ValorAgregado" readonly="readonly" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('ValorAgregado')}"
								th:errors="*{ValorAgregado}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Valor Total para la
							Venta</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" readonly="readonly" id="ValorVenta"/>
						</div>
					</div>

					<input type="submit" value="Guardar proveedor"
					 class="form-control col-sm-4 btn btn-primary" />
				</form>
			


		    <div class="d-md-flex float-right col-sm-6">
		      <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="width: 650px; max-height: 400px;">
					<table class="table table-striped table-bordered table-hover my-4">
						<thead>
							<tr>
								<td>Foto</td>
								<td>Nombre</td>
								<td>Precio Compra</td>
								<td>Editar</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="producto : ${productosAsociados}">
								<td><img class="img-thumbnail rounded float-left"
									style="max-width: 200px;"
									th:src="@{'/productos/uploads/' + ${producto.foto}}" /></td>
								<td th:text="${producto.nombreProducto}"></td>
								<td th:text="${producto.neto}"></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/productoproveedor/editarproveedor/} + ${producto.productoProveedorID}">Editar</a>
								</td>
							</tr>
						</tbody>
					</table>
		      </div>
		
		    </div>
			
		</div>
	</div>
	
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript" th:replace="proveedores/js/autocomplete-productos :: javascript"></script>
	<script type="text/javascript" th:replace="layout/calculos/CalcularTotales :: javascript"></script>
</body>
</html>