<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<div class="py-4 px-3">
		<header th:replace="layout/layout :: header"></header>

		<h1 th:text="${titulo}"></h1>

		<a class="btn btn-primary" th:href="@{/proveedores/proveedoresform}">Crear
			Proveedor</a>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Razon Social</th>
					<th>Direccion</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="proveedor: ${proveedores}">
					<td> <a th:href="@{/proveedores/ver/} + ${proveedor.id}" th:text="${proveedor.id}" class="btn btn-primary"></a></td>
					<td th:text="${proveedor.razonSocial}"></td>
					<td th:text="${proveedor.direccion}"></td>
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/proveedores/proveedoresform/} + ${proveedor.id}">editar</a></td>
					<td><a class="btn btn-danger btn-xs"
						th:href="@{/proveedores/eliminar/} + ${proveedor.id}"
						onclick="return confirm('esta seguro que desea eliminar')">Eliminar</a>
					</td>
					<td><a class="btn btn-success btn-xs"
						th:href="@{/productoproveedor/agregarproducto/} + ${proveedor.id}">Agregar Producto</a>
					</td>
				</tr>

			</tbody>

		</table>
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
</body>

</html>



