<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="py-4 px-3">
		<header th:replace="layout/layout :: header"></header>
		
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/proveedores/proveedoresform}" th:object="${proveedor}" method="post">
					<div class="form-group row">
						<label for="razonSocial" class="col-sm-2 col-form-label">Razon Social</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{razonSocial}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('razonSocial')}" th:errors="*{razonSocial}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Direccion</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{direccion}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
						</div>
					</div>
					
					<input type="submit" value="Crear Cliente" class="form-control col-sm-2" />

				</form>
			</div>
		</div>
	</div>
		
		<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>