<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-4 px-3">

		<h1 th:text="${titulo}"></h1>

		<a class="btn btn-primary" th:href="@{/productos/productosform}">Crear Producto</a>
		
		<a class="btn btn-primary" th:href="@{/etiquetas/formetiqueta}">Crear Etiqueta</a>		
		
		<a class="btn btn-danger" th:href="@{'/productos/ver/' + ${1}(format=pdf)}">PDF</a>
		
		<a class="btn btn-success" th:href="@{'/productos/ver/' + ${1}(format=xlsx)}">Excel</a>
		
		<br><br>
		
		<input type="text" class="form-control col-sm-4" id="buscar_producto"><br><a class="btn btn-outline-info">Buscar</a>
		
		<a class="btn btn-outline-info" id="limpiar">Limpiar</a>
		
		<br><br>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre Producto</th>
					<th>Editar</th>
					<th>Eliminar</th>
					<th>Proveedor</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="producto: ${productos}">
				<td><a th:href="@{/productos/ver/} + ${producto.id}" class="btn btn-primary btn-xs"
								th:text="${producto.id}"></a></td>
					<td th:text="${producto.NombreProducto}"></td>
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/productos/productosform/} + ${producto.id}">editar</a></td>
					<td><a class="btn btn-danger btn-xs"
						th:href="@{/productos/eliminar/} + ${producto.id}"
						onclick="return confirm('esta seguro que desea eliminar')">Eliminar</a>
					</td>
					<td><a class="btn btn-success btn-xs" 
					th:href="@{/productoproveedor/agregarproveedor/} + ${producto.id}">Agregar Proveedor</a></td>					
				</tr>

			</tbody>

		</table>
		
		<nav th:replace="paginator-nav :: paginator"></nav>
		<footer th:replace="layout/layout :: footer"></footer>
	</div>
	 
	<script type="text/javascript">
	
	$('#buscar_producto').keypress(function (e) {
		 var key = e.which;
		 var producto = $("#buscar_producto").val();
		 if(key == 13)
		  {
			 window.location.href = "/productos/listar/" + producto;
		  }
		});  
	
	$("#limpiar").click(function() {
		window.location.href = "/productos/";
	});
	
	</script>
	
</body>

</html>



