<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>


	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-ligth text-black">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<div class="col-sm-4 float-left">
				<table class="table table-striped table-bordered table-hover my-4">
				<tr>
				<td><h4>Proveedor</h4></td>
				<td><h4 th:text="${proveedor.razonSocial}"></h4></td>
				</tr>
				<tr>
					<td><h4>Direccion</h4></td>
					<td><h4 th:text="${proveedor.direccion}"></h4></td>
				</tr>
				</table>
					<h5 ></h5>
					<h5 ></h5>
				</div>

				<div class="col-sm-8 float-right">
					<h4 class="title my-4 mx-3">Productos Asociados al Proveedor</h4>
					<table class="table table-striped table-bordered table-hover my-4">
						<thead>
							<tr>
								<td>Articulo</td>
								<td>Nombre</td>
								<td>Precio</td>
								<td>Editar</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="producto : ${productosAsociados}">
								<td><img class="img-thumbnail rounded float-left"
									style="max-width: 200px;"
									th:src="@{'/productos/uploads/' + ${producto.foto}}" /></td>
								<td th:text="${producto.nombreProducto}"></td>
								<td th:text="${producto.neto}"></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/productoproveedor/editarproveedor/} + ${producto.productoProveedorID}">Editar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>