<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4">
	
	<div class="card bg-danger text-white">
	<div class="card-header">
		Error: acceso denegado!
	</div>
	<div class="card-body">
	<!-- httpServletRequest.remoteUser podria cambiar por authemtication.name-->
		<h5> lo sentimos: <span th:text="${#httpServletRequest.remoteUser}"></span> , No tienes permisos para acceder a este recurso
		</h5>
		<a th:href="@{/inicio}" class="btn btn-outline-light" role="button">Volver al inicio</a>
	</div>
	</div>
	
	
	
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>