<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card border-primary">
			<div class="card-header">Inicio de sesion</div>
			<div class="card-body">

				<form th:action="@{/login}" method="post">
					<div class="form-group col-sm-6">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="UserName" required
							autofocus>
					</div>
					<div class="form-group col-sm-6">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Password" required>
					</div>
					<div class="form-group col-sm-6">
						<input type="submit" class="btn btn-large btn-primary btn-block"
							value="Sign in">
					</div>
				</form>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>