<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout_clientes :: head">
<body>
	<header th:replace="layout/layout_clientes :: header"></header>

	<div class="py-4 px-3">
	
	<select id="etiquetasID" name="etiquetas_id" class="browser-default custom-select col-md-2">
		<option th:each="etiqueta : ${etiquetas}"
			th:text="${etiqueta.nombreEtiqueta}" th:value="${etiqueta.id}">
		</option>
	</select>
	<a id="filtro" href="" class="btn btn-outline-primary">Filtrar </a>
							
	 
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Nombre</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${productos}">
					<td><img class="img-thumbnail" style="max-width: 150px;max-height:300px; "
						th:src="@{'/productos/uploads/' + ${producto[1]}}" /></td>
					<td><label th:text="${producto[2]}"></label></td>
					<td><label th:text="${producto[4]}"></label></td>
					<td><a th:href="@{/inicio/ver/} + ${producto[0]}"
						class="btn btn-primary btn-xs" th:text="'Ver'"></a></td>
				</tr>
			</tbody>
		</table>

		<nav th:replace="paginator-nav :: paginator"></nav>
		<footer th:replace="layout/layout_clientes :: footer"></footer>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			
			$('#etiquetasID').change(function(){
				var FiltroID = $('#etiquetasID').val();
				
				var getUrl = window.location;
				var baseUrl = getUrl .protocol + "//" + getUrl.host ;
				
				var Url = baseUrl+"/cambia-etiqueta-order-by/"+FiltroID;
				//alert(getUrl.host);
				$('#filtro').attr('href', Url);
			})
			
			//Evento de cambio en la seleccion de la etiqueta
			$("#btn_filtrar").click(function(){
				//location.href ="/";}
				/*fetch('/inicio/cambia-etiqueta-order-by/' + 1)
				  .then(response => response.json())
			  	  .then(data => console.log(data));*/
			});
		});
	</script>

</body>
</html>