<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout_clientes :: head">
<body>
	<header th:replace="layout/layout_clientes :: header"></header>

	<div class="py-4 px-3">
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="producto: ${productos}">
					<td><img class="img-thumbnail" style="max-width: 150px;"
						th:src="@{'/productos/uploads/' + ${producto[1]}}" /></td>
					<td><label th:text="${producto[2]}"></label></td>
					<td><label th:text="${producto[4]}"></label></td>
					<td><a th:href="@{/inicio/ver/} + ${producto[0]}"
						class="btn btn-primary btn-xs" th:text="'Ver'"></a></td>
				</tr>

			</tbody>

		</table>

		<nav th:replace="paginator-nav :: paginator"></nav>
		<footer th:replace="layout/layout_clientes :: footer"></footer>
	</div>

</body>
</html>