<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>
	<!-- llego aqui desde el controlador de productos 
	-envia el titulo de "agregando productos al producto..."
	-debe haber una lista de los proveedores 
	-y una segunda lista con los proveedores asociados al producto
-->
	<div class="py-4 px-3">
		<header th:replace="layout/layout :: header"></header>

		<div class="card bg-dark text-white">
			<div class="card-header h4" th:text="${titulo}"></div>
			<div class="card-body">

				<form th:action="@{/productoproveedor/agregarproveedor}"
					th:object="${productoProveedor}" method="post">
					
					<div class="form-group row ">
					<label class="col-sm-2 col-form-label">Seleccione Un Proveedor</label>
						<div class="col-sm-6">
							<select class="form-control" id="dropOperator" th:field="*{proveedor_id}">
								<option value="0">Lista de Proveedores</option>
								<option th:each="proveedor : ${proveedores}"
									th:value="${proveedor.id}" th:text="${proveedor.razonSocial}"
									th:field="*{proveedor_id}"></option>
							</select>
						</div>
					</div>
					
					<label for="tipo">Boleta</label><input type="radio" name="tipo" value="Boleta" checked="checked" />
					<label for="tipo">Factura</label><input type="radio" name="tipo" value="Factura"/>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Neto</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{Neto}" class="form-control" id="ValorNeto"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('Neto')}" th:errors="*{Neto}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">IVA</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{IVA}" class="form-control" id="ValorIVA"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('IVA')}" th:errors="*{IVA}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Total</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{Total}" class="form-control" id="ValorCompra"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('Total')}"
								th:errors="*{NombreProducto}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Valor Agregado</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{ValorAgregado}"
								class="form-control" th:errorclass="'form-control alert-danger'" id="ValorAgregado"/>
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('ValorAgregado')}"
								th:errors="*{ValorAgregado}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Valor Total para la
							Venta</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:value="${producto.totalVenta}"
								readonly="readonly" 
								id="ValorVenta"/>
						</div>
					</div>

					<input type="submit" value="Guardar proveedor"
					 class="form-control col-sm-2 btn btn-primary" />
				</form>

			</div>
		</div>
		<h4 class="title my-4 mx-3">Proveedores asociados al producto</h4>
				<table class="table table-striped table-bordered table-hover my-4">
					<thead>
						<tr>
							<td>ID</td>
							<td>Nombre</td>
							<td>Direccion</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="proveedor : ${proveedoresAsociados}">
							<td th:text="${proveedor.id}"></td>
							<td th:text="${proveedor.razonSocial}"></td>
							<td th:text="${proveedor.direccion}"></td>
						</tr>
					</tbody>
				</table>		
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script type="text/javascript" th:replace="layout/calculos/CalcularTotales :: javascript"></script>
</body>
</html>