<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="py-4 px-3">
		<div class="col-sm-12">

			<div class="col-sm-6">
				<form th:action="@{/etiquetas/formetiqueta}" th:object="${etiqueta}"
					method="post">

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombre Etiqueta</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombreEtiqueta}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('NombreEtiqueta')}"
								th:errors="*{NombreEtiqueta}"></small>
						</div>
					</div>

					<input type="submit" value="Agregar Etiqueta"
						class="btn btn-primary" />
				</form>
			</div>

			<div class="col-sm-6">
				<div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
					style="width: 650px; max-height: 400px;">
					<table class="table table-striped table-bordered table-hover my-4">
						<thead>
							<tr>
								<td>Numero Etiqueta</td>
								<td>Nombre</td>
								<td>Editar</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="etiquetas : ${ListadoEtiquetas}">
								<td th:text="${etiquetas.id}"></td>
								<td th:text="${etiquetas.nombreEtiqueta}"></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/productoproveedor/editarproveedor/} + ${etiquetas.id}">Editar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</body>
</html>