<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-4 px-3">
		<div class="card bg-dark text-white">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div class="col-sm-6 float-left">
					<form th:action="@{/productos/productosform}"
						th:object="${producto}" method="post"
						enctype="multipart/form-data">

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Nombre Producto</label>
							<div class="col-sm-9">
								<input type="text" th:field="*{NombreProducto}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('NombreProducto')}"
									th:errors="*{NombreProducto}"></small>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Precio Final </label>
							<div class="col-sm-9">
								<input type="text" th:field="*{TotalVenta}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('TotalVenta')}"
									th:errors="*{TotalVenta}"></small>
							</div>
						</div>						

						<div class="form-group row">
							<label for="file" class="col-sm-3 col-form-label">Foto</label>

							<div class="col-sm-9">
								<input type="file" name="file" class="form-control">
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Descripcion</label>
							<div class="col-sm-9">
							
							<textarea rows="10" cols="50" 
							th:field="*{Descripcion}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" ></textarea>
							<small class="form-text text-danger"
									th:if="${#fields.hasErrors('Descripcion')}"
									th:errors="*{Descripcion}"></small>
							</div>
						</div>

						<input type="submit" value="Guardar producto"
							class="form-control col-sm-4 btn btn-primary" />

					</form>
				</div>
				<div class="col-sm-6 float-right">
					<div th:each="etiquetas : ${ListadoEtiquetas}">
						<input type="checkbox" th:value="${etiquetas.id}"
							th:text="${etiquetas.nombreEtiqueta}" th:id="${etiquetas.id}"
							name="etiquetas_id" />
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

	<script type="text/javascript">
		$(document).ready(function() {
			$.ajax({
				url : "/etiquetas/get-registros-etiquetas",
				type : 'GET',
				dataType : "json",
				data : {
					etiquetaId : $(this).val()
				},
				success : function(data) {
					//recorre las etiquetas y las compara con la data traida del back
					$('[name="etiquetas_id"]').each(function() {
						for (var j = 0; j < data.length; j++) {
							if ($(this).val() == data[j].etiqueta_id) {
								$(this).prop("checked", true);
							}
						}
					});
				},
				error : function(data) {
					alert("Error" + data);
				}
			})
		});

		//Si selecciona el check hace un insert en RegistroEtiquetas si desSelecciona lo elimina...
		//tmb se deberia hacer una validacion cuando se quiera eliminar una etiqueta
		$('[name="etiquetas_id"]').on(
				'click',
				function() {
					if ($(this).is(':checked')) {
						$.ajax({
							url : "/etiquetas/crea-registro-etiqueta/"
									+ $(this).val(),
							type : 'GET',
							dataType : "json",
							data : {
								etiquetaId : $(this).val()
							},
							success : function(data) {
								//alert("El checkbox con valor ha sido seleccionado");		
							},
							error : function(data) {
								//alert("Error" + data);
							}
						})
					} else {
						$.ajax({
							url : "/etiquetas/elimina-registro-etiqueta/"
									+ $(this).val(),
							type : 'GET',
							dataType : "json",
							data : {
								etiquetaId : $(this).val()
							},
							success : function(data) {
								//alert("El checkbox con valor ha sido seleccionado");		
							},
							error : function(data) {
								//alert("Error" + data);
							}
						})
					}
				});
	</script>

</body>
</html>