<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-ligth text-black">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<div class="col-sm-4 float-left">
				<h4 th:text="'Producto: '+${producto.nombreProducto}"></h4>
					<img class="img-thumbnail rounded float-left"
						style="max-width: 80%;"
						th:src="@{'/productos/uploads/' + ${producto.foto}}" />
				</div>

				<div class="col-sm-8 float-right">
					<h4 class="title my-4 mx-3">Proveedores asociados al producto</h4>
					<table class="table table-striped table-bordered table-hover my-4">
						<thead>
							<tr>								
								<td>Nombre</td>
								<td>Direccion</td>
								<td>Precio Venta</td>
								<td>Editar</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="proveedor : ${proveedoresAsociados}">								
								<td th:text="${proveedor.nombreProveedor}"></td>
								<td th:text="${proveedor.direccion}"></td>
								<td th:text="${proveedor.precio}"></td>
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/productoproveedor/editarproveedor/} + ${proveedor.productoProveedorID}">Editar</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>